modules = ["python-3.11", "web"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39593368

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[ports]]
localPort = 3000
externalPort = 80
